force-app/main/default/flows/Agendar_compromisso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Criar_compromisso</name>
        <label>Criar compromisso</label>
        <locationX>621</locationX>
        <locationY>150</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Atualiza_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>CompromissoText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$Record.Visita_Agendada__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>$Record.Visita_Agendada__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Agendar compromisso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Processo principal 2.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualiza_status</name>
        <label>Atualiza status</label>
        <locationX>788</locationX>
        <locationY>150</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>130</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Criar_compromisso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visita_Agendada__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Imovel__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Compromisso</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Novo compromisso</text>
    </textTemplates>
    <textTemplates>
        <name>CompromissoText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Você tem um compromisso para hoje!</text>
    </textTemplates>
    <textTemplates>
        <name>Mensagem_agendada</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Você tem uma visita agendada&lt;/p&gt;</text>
    </textTemplates>
</Flow>
