force-app/main/default/flows/Agendamento_de_visitas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>N_o</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>opcaoNAO</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NÃO</stringValue>
        </value>
    </choices>
    <choices>
        <name>opcaoSIM</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SIM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Escolhe_visita</name>
        <label>Escolhe visita</label>
        <locationX>609</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Se_Visita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_agendar_uma_visita</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escolha_a_data_e_hora</targetReference>
            </connector>
            <label>Se Visita</label>
        </rules>
        <rules>
            <name>Se_nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deseja_agendar_uma_visita</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NÃO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancela_agendamento</targetReference>
            </connector>
            <label>Se não</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Agendamento de visista {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agendamento de visitas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Atualiza_Data_e_Hora</name>
        <label>Atualiza Data e Hora</label>
        <locationX>959</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Conclusao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Visita_Agendada__c</field>
            <value>
                <elementReference>Escolha_a_data_e_hora_da_visita</elementReference>
            </value>
        </inputAssignments>
        <object>Imovel__c</object>
    </recordUpdates>
    <screens>
        <name>Agendamento_de_visitas</name>
        <label>Agendamento de visitas</label>
        <locationX>466</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Escolhe_visita</targetReference>
        </connector>
        <fields>
            <name>Deseja_agendar_uma_visita</name>
            <choiceReferences>opcaoSIM</choiceReferences>
            <choiceReferences>opcaoNAO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deseja agendar uma visita?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancela_agendamento</name>
        <label>Cancela agendamento</label>
        <locationX>820</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Obrigado</name>
            <fieldText>&lt;p&gt;Obrigado!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Conclusao</name>
        <label>Conclusão</label>
        <locationX>1092</locationX>
        <locationY>44</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Agendamento_Concluido</name>
            <fieldText>&lt;p&gt;Visita agendada com sucesso!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Escolha_a_data_e_hora</name>
        <label>Escolha a data e hora</label>
        <locationX>823</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Atualiza_Data_e_Hora</targetReference>
        </connector>
        <fields>
            <name>Escolha_a_data_e_hora_da_visita</name>
            <dataType>DateTime</dataType>
            <fieldText>Escolha a data e hora da visita</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>21</locationX>
        <locationY>81</locationY>
        <connector>
            <targetReference>Agendamento_de_visitas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
